Flask
plotly
pandas
requests
pandas_ta
seaborn
matplotlib
scikit-learn
yfinance
seaborn
numpy
pandas-datareader
tensorflow
flask_cors
flask_socketio
bcrypt
PyYAML==6.0.1
flask_cors
pandas_datareader
keras
tensorflow
tensorrt
pymongo
yahoo_fin